header {
  margin-top: 9vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img_portada {
  width: 98%;
  margin-bottom: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.92;
  border-radius: 40px;
}
.img_portada img {
  border-radius: 40px;
}
nav {
  width: 99%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  background: url("../../assets/logo.png");
  background-size: 30%;
  backdrop-filter: blur(100px);

  margin: 45vh;
  margin-bottom: 60vh;

  border-radius: 40px;
}

.pareja {
  width: 80vh;
  opacity: 1.9;
}

.button_sakura {
  width: 24vh;
  border-radius: 5%;
  background-color: rgba(240, 255, 255, 0);
  border: none;
}
.button_sakura img {
  border-radius: 5%;
  box-shadow: 15px 15px 20px 5px rgb(30, 10, 16);
}

.button_clow {
  width: 24vh;
  border-radius: 5%;
  background-color: rgba(240, 255, 255, 0);
  border: none;
  transition: all 0.2s ease-in-out;
}
.button_clow img {
  border-radius: 5%;
  box-shadow: 14px 15px 20px 5px rgb(40, 2, 2);
}

.buttonCard {
  width: 50%;
  display: flex;

  justify-content: space-evenly;
  transition: all 0.2s ease-in-out;
}

.button_clow img:hover {
  width: 26vh;
  box-shadow: 25px 25px 20px 2px rgb(40, 2, 2);
  transition: all 0.2s ease-in-out;
  cursor: url(../../assets/cursor.png), pointer;
}
.button_sakura img:hover {
  width: 26vh;
  box-shadow: 25px 25px 20px 2px rgb(30, 10, 16);
  transition: all 0.2s ease-in-out;
  cursor: url(../../assets/cursor.png), pointer;
}

@media (max-width: 1201px){

  header {
    margin-top: 4vh;
    margin-bottom: 6vh;
  }
  
  nav {
  height: 7vh;
  margin: 14vh;
  }
  .pareja {
  width: 39vh;
  }
  
  .button_clow {
  width: 15vh;
  }
  
  .button_sakura {
  width: 15vh;
  }
  
  .button_clow img:hover {
  width: 17vh;
  
  }
  .button_sakura img:hover {
  width: 17vh;
  
  }
}

@media (max-width: 992px) {
header {
  margin-top: 4vh;
  margin-bottom: 6vh;
}

nav {
height: 7vh;
margin: 14vh;
}
.pareja {
width: 36vh;
}

.button_clow {
width: 15vh;
}

.button_sakura {
width: 15vh;
}

.button_clow img:hover {
width: 17vh;

}
.button_sakura img:hover {
width: 17vh;

}


}

@media (max-width: 776px) {
    header {
        margin-top: 4vh;
        margin-bottom: 6vh;
    }

  nav {
    height: 6vh;
    margin: 9vh;
  }
  .pareja {
    width: 30vh;
  }

  .button_clow {
    width: 12vh;
  }

  .button_sakura {
    width: 12vh;
  }

  .button_clow img:hover {
    width: 14vh;
    
  }
  .button_sakura img:hover {
    width: 14vh;
    
  }
}

@media (max-width: 420px) {
    .img_portada {
      width: 94%;
      

    }


    header {
        margin-top: 2vh;}

    .buttonCard{
        width: 70%;
    }
    nav {
      width: 95%;
      height: 4vh;
    
      margin-bottom: 12vh;
      
    }
    .pareja {
      width: 18vh;
    }
  
    .button_clow {
      width: 10vh;
      
    }
  
    .button_sakura {
      width: 10vh;
    }
  
    .button_clow img:hover {
      width: 10.5vh;
      
    }
    .button_sakura img:hover {
      width: 10.5vh;
      
    }
  }
