.flipCard-clow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 13%;
    margin:20px
}
.cardContainer-clow {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.9s;
    transform-style: preserve-3d;
}


.flipCard-clow:hover .cardContainer-clow {
    transform: rotateY(180deg);
 
}

.card-front--clow {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

  }

.card-front--clow {
    transform: rotateY(180deg);
    position: absolute;
    top: 0%;
 
  }

.card-front--clow img {
    border-radius: 20px;

}

.card-reverse--clow img {
    border-radius: 20px;

}

.flipCard-clow{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nameCard_clow{
    width: 70%;
    font-size:140%;
    padding: 20px 30px 20px 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url("../../../assets/background.png");
    color:#db9c36;
    -webkit-text-fill-color: rgb(253, 226, 103);
    -webkit-text-stroke-color: rgba(1, 1, 1, 0.833);
    -webkit-text-stroke-width: 2px; 
    border-radius: 30px;
    border:solid #ffba4c 5px;
    text-align: center;
    
}

@media (max-width: 1201px) {
    .flipCard-clow{
        width: 25%;
    }



}
@media (max-width: 992px) {
    .flipCard-clow{
        width: 28%;
    }



}

@media (max-width: 776px){
    .flipCard-clow{
        width: 25%;
    }





}

@media (max-width: 576px) {


    .flipCard-clow{
        width: 40%;
   
        
    }

    .nameCard_clow{
        font-size: 90%;
        padding: 10px 20px 10px 20px;
        -webkit-text-stroke-width: 1px;
        
        
    }

    .card-front--clow img {
        border-radius: 10px;
    
    }
    
    .card-reverse--clow img {
        border-radius: 10px;
    
    }


}



@media (max-width: 420px) {

    
    .flipCard-clow{
        width: 36%;
        
        
    
    }

    .flipCard-clow:first-child{
        margin-left: 8660px;
        
    
    }

    .nameCard_clow{
        font-size: 90%;
        padding: 10px 20px 10px 20px;
        -webkit-text-stroke-width: 1.2px;
        
        
    }

    .card-front--clow img {
        border-radius: 10px;
    
    }
    
    .card-reverse--clow img {
        border-radius: 10px;
    
    }


}





